Package: duplicate-agent
Version: 0.9.1
Section: utils
Priority: optional
Architecture: all
Depends: python3 (>= 3.6), libqt6core6, libqt6widgets6, libqt6gui6, libxcb-cursor0, python3-pyside6 | python3-pyqt6 | python3-qt6
Maintainer: A. Serhat KILIÇOĞLU <www.github.com/shampuan>
Description: Duplicate Agent
 Duplicate Agent, dosya içeriğini (hash) kullanarak sisteminizdeki yinelenen dosyaları bulmanıza ve güvenli bir şekilde çöp kutusuna taşımanıza yardımcı olan bir Python uygulamasıdır.
 .
 Program, PySide6 kütüphanesini kullanarak modern bir arayüze sahiptir ve dosya sistemini derinlemesine tarar.
